<% if logged_in? && (is_creator?(@post) || current_user.is_admin?) %>
  <p class="pull-right">
    [<%= link_to "edit this post", edit_post_path(@post) %>]
  </p>
<% end %>

<p>
  <%= render @post.categories %>
</p>

<%= render "shared/content_title", title: @post.title %>

<p>
  <%= @post.description %>
</p>
<hr/>

<% if logged_in? %>
  <%= render "comments/form" %>
<% end %>

<%= render @comments %>

<%= link_to "Back", posts_path %>
